<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.DispitemsMapper" >
  <resultMap id="BaseResultMap" type="com.domain.Dispitems" >
    <id column="ditemID" property="ditemid" jdbcType="VARCHAR" />
    <result column="diId" property="diid" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="dispId" property="dispid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ditemID, diId, amount, dispId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.domain.DispitemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dispItems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dispItems
    where ditemID = #{ditemid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dispItems
    where ditemID = #{ditemid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.domain.DispitemsExample" >
    delete from dispItems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.domain.Dispitems" >
    insert into dispItems (ditemID, diId, amount, 
      dispId)
    values (#{ditemid,jdbcType=VARCHAR}, #{diid,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{dispid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.Dispitems" >
    insert into dispItems
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ditemid != null" >
        ditemID,
      </if>
      <if test="diid != null" >
        diId,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="dispid != null" >
        dispId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ditemid != null" >
        #{ditemid,jdbcType=VARCHAR},
      </if>
      <if test="diid != null" >
        #{diid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="dispid != null" >
        #{dispid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.domain.DispitemsExample" resultType="java.lang.Integer" >
    select count(*) from dispItems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dispItems
    <set >
      <if test="record.ditemid != null" >
        ditemID = #{record.ditemid,jdbcType=VARCHAR},
      </if>
      <if test="record.diid != null" >
        diId = #{record.diid,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.dispid != null" >
        dispId = #{record.dispid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dispItems
    set ditemID = #{record.ditemid,jdbcType=VARCHAR},
      diId = #{record.diid,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=INTEGER},
      dispId = #{record.dispid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.Dispitems" >
    update dispItems
    <set >
      <if test="diid != null" >
        diId = #{diid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="dispid != null" >
        dispId = #{dispid,jdbcType=VARCHAR},
      </if>
    </set>
    where ditemID = #{ditemid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.Dispitems" >
    update dispItems
    set diId = #{diid,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      dispId = #{dispid,jdbcType=VARCHAR}
    where ditemID = #{ditemid,jdbcType=VARCHAR}
  </update>
</mapper>