<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ViplevelMapper" >
  <resultMap id="BaseResultMap" type="com.domain.Viplevel" >
    <id column="levelId" property="levelid" jdbcType="VARCHAR" />
    <result column="vipName" property="vipname" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    levelId, vipName, discount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.domain.ViplevelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vipLevel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vipLevel
    where levelId = #{levelid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from vipLevel
    where levelId = #{levelid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.domain.ViplevelExample" >
    delete from vipLevel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.domain.Viplevel" >
    insert into vipLevel (levelId, vipName, discount
      )
    values (#{levelid,jdbcType=VARCHAR}, #{vipname,jdbcType=VARCHAR}, #{discount,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.domain.Viplevel" >
    insert into vipLevel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="levelid != null" >
        levelId,
      </if>
      <if test="vipname != null" >
        vipName,
      </if>
      <if test="discount != null" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="levelid != null" >
        #{levelid,jdbcType=VARCHAR},
      </if>
      <if test="vipname != null" >
        #{vipname,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.domain.ViplevelExample" resultType="java.lang.Integer" >
    select count(*) from vipLevel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vipLevel
    <set >
      <if test="record.levelid != null" >
        levelId = #{record.levelid,jdbcType=VARCHAR},
      </if>
      <if test="record.vipname != null" >
        vipName = #{record.vipname,jdbcType=VARCHAR},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vipLevel
    set levelId = #{record.levelid,jdbcType=VARCHAR},
      vipName = #{record.vipname,jdbcType=VARCHAR},
      discount = #{record.discount,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.Viplevel" >
    update vipLevel
    <set >
      <if test="vipname != null" >
        vipName = #{vipname,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DOUBLE},
      </if>
    </set>
    where levelId = #{levelid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.Viplevel" >
    update vipLevel
    set vipName = #{vipname,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=DOUBLE}
    where levelId = #{levelid,jdbcType=VARCHAR}
  </update>
</mapper>